.places {
    display: flex;
    padding: 20px 15px;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.places > h1 {
    font-size: 30px;
    width: 100%;
    margin: 15px 0 0 0;
}

.places > article {
    display: inline-block;
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places > article > h2 {
    margin: 0 0 15px 0;
    font-size: 30px;
    text-align: center;
}
